.logo {
  width: fit-content;
  height: 30em;
  &:hover {
    transform: scale(1.1);
  }
  animation: mymove 10s infinite;
  position: absolute;
}


@keyframes mymove {
  0% {
    left: 45%;
    top: 40%;
  }

  50% {
    left: 57%;
    top: 38%;
  }

  100% {
    left: 45%;
    top: 40%;
  }
}

.runner::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.runner:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
  cursor: pointer;
}

.runner::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #e5e1f4;
  z-index: -1;
  transition: transform 0.3s ease;
}

.runner {
  position: relative;
  font-size: 4rem;
  cursor: pointer;
  width: 80%;
  margin: 0 auto;
}

.content {
  position: absolute;
  top: 70%;
  left: 27%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  color: #000000;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0;
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 58px;
  padding: 0 40px;
  display: inline-block;
  margin-top: auto;
  margin-bottom: 0;
}

.content::before {
  content: "[";
  font-size: 60px;
}

.content::after {
  content: "]";
  right: 0;
  font-size: 60px;
}

.content::after .content::before {
  position: absolute;
  top: 0;

  color: #16a085;
  font-size: 42px;
  line-height: 40px;

  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.content__text {
  display: inline;
  float: left;
  margin: 0;
}

.content__container__list {
  margin-top: 0;
  text-align: left;
  list-style: none;

  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  line-height: 30px;
  margin: 25px;
  padding: 0px;
}

@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }

  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@-o-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-o-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }

  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@-moz-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-moz-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }

  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }

  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

.main_page_hotels::before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -5%;
  right: 30%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #e5e1f4 0%, #5d4f97 150%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: -1;
  overflow: hidden;
  animation: myround 10s infinite;
  position: absolute;

}


@keyframes myround {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translate(75%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.btn{
  background-color: #6843ff !important;
  color: black;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  margin: 10px;
  min-width: 120px;
  border: 3px solid #6843ff !important;
  font-weight: 500;
}

.btn:hover{
  background-color: black !important;
  border: 3px solid #6843ff !important;
  color: #6843ff !important;
}

.full_container{
  padding: 20px;
}
h1{
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: white;
}
input, select{
  background: transparent;
  border: none;
  border-bottom: 2px solid #6843ff;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  margin: 0 10px 30px;
  outline: none;
  display: block;
  min-width: 100%;
}

option{
  background: black;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  margin: 10px 0;
  outline: none;
  display: block;
  min-width: 50px;

}
input[type=text]{
  min-width: 50px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #6843ff;
  /* margin: 10px 0; */
  font-size: 20px;
  font-weight: 500;
  background: transparent;
  color: white;
  min-width: 100%;

}

input[type=text]:focus{
  outline: none;
  border-bottom: 2px solid #6843ff;
}

input[type=checkbox]{
  width: 20px;
  height: 20px;
  margin: 10px;
  background: transparent;
  border: 2px solid #6843ff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  display: inline;
}

label{
  font-size: 20px;
  font-weight: 500;
  color: white;
  display: inline-block;
  margin: 10px 30px;
  flex: 1;
}

@media screen and (max-width:990px){
  .runner{
    width: 90%;
    font-size: 3rem;
  }
  .content{
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .logo{
    width: 50%;
    height: 20em;
  } 

  

    @keyframes mymove {
      0% {
        left: 20%;
        top: 70%;
      }

      50% {
        left: 22%;
        top: 67%;
      }

      100% {
        left: 20%;
        top: 70%;
      }
    }
}